# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Logs and databases
*.log
*.db

# Virtual environments
.venv/
venv/
env/

# Editor settings
.vscode/
.idea/

# Google Cloud credentials
credentials.json
app/credentials.json
app/core/credentials.json
app/config/
